
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479828234816'); /* IE9*/
  src: url('iconfont.eot?t=1479828234816#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479828234816') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479828234816') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479828234816#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-listen:before { content: "\e600"; }

.icon-replay:before { content: "\e632"; }

.icon-return:before { content: "\e612"; }

.icon-me:before { content: "\e64f"; }

.icon-next:before { content: "\e671"; }

.icon-xingxing:before { content: "\e62b"; }

.icon-xuanzhong:before { content: "\e65b"; }

.icon-clear:before { content: "\e608"; }

.icon-plus:before { content: "\e62f"; }

.icon-note:before { content: "\e601"; }

.icon-new:before { content: "\e667"; }

.icon-rank:before { content: "\e679"; }

.icon-tip:before { content: "\e605"; }

